{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}
{%- from 'govuk_frontend_jinja/components/radios/macro.html' import govukRadios -%}
{% import 'components/input.html' as input-%}
{% import 'components/textarea.html' as textarea-%}
{% import 'components/radios.html' as radios-%}



{% macro render(field) -%}
      {% if field.field_type == "MultilineTextField" %}
        {{ textarea.render(field) }}
      {% elif field.field_type == "RadiosField" %}
        {{ radios.render(field) }}
      {% elif field.field_type == "YesNoField" %}
        {{ radios.render(field) }}
      {% elif field.name != 'csrf_token' %}
        {{ input.render(field) }}
      {% endif %}
{% endmacro %}
