{%- from 'govuk_frontend_jinja/components/textarea/macro.html' import govukTextarea -%}
{%- from 'govuk_frontend_jinja/components/input/macro.html' import govukInput -%}



{% macro render(field) -%}
      {% if field.field_type == "textarea" %}

        {{ govukTextarea({
          'name': 'more-detail',
          'id': 'more-detail',
          'label': {
            'text': 'Can you provide more detail?'
          }
        }) }}

      {% elif field.name != 'csrf_token' %}
        {% if field.errors %}
            {{ govukInput({
                'label': {
                    'text': field.label
                },
                'hint': {
                    'text': field.hint
                },
                'id': field.id,
                'name': field.name,
                'value': field.data,
                'errorMessage': {
                    'text': field.errors.0
                }
            }) }}
        {% else %}
            {{ govukInput({
                'label': {
                    'text': field.label
                },
                'hint': {
                    'text': field.hint
                },
                'id': field.id,
                'name': field.name,
                'value': field.data,
            }) }}
        {% endif %}

      {% endif %}
{% endmacro %}
