{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from 'govuk_frontend_jinja/components/button/macro.html' import govukButton -%}
{% import "field.html" as field %}
{% import "submit.html" as submit %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Choose a form</h2>
            <p class="govuk-body">

            </p>
        </div>
          <div class="govuk-grid-column-two-thirds">

  <div>
      <h1 class="govuk-heading-xl">Application Forms</h1>
  </div>

        <a href="{{ formzy.name}}" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
          Start {{ formzy.title}}
          <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
          </svg>
        </a>
          </div>
        </div>

  </main>
</div>
{% endblock %}
