{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% import "field.html" as field %}
{% import "submit.html" as submit %}

{% block content %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Choose a form</h2>
            <p class="govuk-body">

            </p>
        </div>
          <div class="govuk-grid-column-two-thirds">

  <div>
      <h1 class="govuk-heading-xl">Application Forms</h1>
  </div>

    <div>
        <h4 class="govuk-heading-m"><a href="{{ formzy.name}}" class="govuk-link">Start {{ formzy.name}} form</a></h4>
    </div>
          </div>
        </div>

  </main>
</div>
{% endblock %}
