-r requirements.txt
bandit==1.7.4
beautifulsoup4
debugpy
dparse>=0.5.2
black
deepdiff
pre-commit
pytest
pytest-env
pytest-flask
pytest-mock
requests-mock
pip-tools>=6.13.0
invoke>=2.2.0
werkzeug @ git+https://github.com/communitiesuk/werkzeug-dluhc.git # forked werkzeug package
