-r requirements.txt
bandit
beautifulsoup4
debugpy
dparse>=0.5.2
black
deepdiff
pre-commit
pytest
pytest-env
pytest-flask
pytest-mock
pytest-selenium
requests-mock
pip-tools
selenium==4.2.0
invoke
#TODO replace with normal version once this issue is released: https://github.com/SergeyPirogov/webdriver_manager/issues/443
git+https://github.com/SergeyPirogov/webdriver_manager@dc73f4a27e8f40cd81dc4718a3f26c22ede29586
