black==21.12b0
Brotli==1.0.9
cfgv==3.3.1
click==8.0.3
distlib==0.3.4
filelock==3.4.2
Flask==2.0.2
Flask-Compress==1.10.1
flask-talisman==0.8.1
govuk-frontend-jinja==2.0.0
identify==2.4.2
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.9.0
platformdirs==2.4.1
pre-commit==2.16.0
python-dotenv==0.19.2
PyYAML==6.0
six==1.16.0
toml==0.10.2
tomli==1.2.3
typing_extensions==4.0.1
virtualenv==20.13.0
Werkzeug==2.0.2
selenium==4.1.0
pytest==6.2.5
pytest-selenium==2.0.1
pytest-flask==1.2.0
axe-selenium-python==2.1.6
