Flask
Flask_Babel
Flask_Compress
flask_talisman
Flask_WTF
Jinja2
json2html
requests
unicode_slugify
WTForms
govuk-frontend-jinja

#-----------------------------------
#   FSD Utils
#-----------------------------------
https://github.com/communitiesuk/funding-service-design-utils/archive/refs/tags/0.0.8.tar.gz
