
{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{ fund_title }}{% endtrans %}&nbsp;
        {% trans %}{{ round_title }}{% endtrans %}
        </span>
        <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
<div class="govuk-!-margin-bottom-8">
  <h2 class="govuk-heading-m ">
    Table of contents
  </h2>
  <ol class="govuk-list govuk-list--number">
    <li>
      <a class="govuk-link" href="#section-a">
        Section A
      </a>
    </li>
    <li>
      <a class="govuk-link" href="#section-b">
        Section B
      </a>
    </li>
  </ol>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="section-a">
    1. Section A
  </h2>
  <h3 class="govuk-heading-m">
    1.1. Project name
  </h3>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Project name
    </p>
  </div>
  <h4 class="govuk-heading-s">
    1.1.1. Project overview
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Project overview
    </p>
    <p class="govuk-body">
      Give a brief summary of your project, including what you hope to achieve
    </p>
  </div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
  <h2 class="govuk-heading-l" id="section-b">
    2. Section B
  </h2>
  <h3 class="govuk-heading-m">
    2.1. Organisation name
  </h3>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Organisation name
    </p>
    <p class="govuk-body">
      This must match your registered legal
organisation name.
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Does your organisation use any  other names?
    </p>
    <p class="govuk-body">
      If 'Yes', go to <strong>2.1.2</strong>
    </p>
  </div>
  <h4 class="govuk-heading-s">
    2.1.2. Alternative organisation names
  </h4>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Alternative name 1
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Alternative name 2
    </p>
  </div>
  <div class="govuk-body all-questions-component">
    <p class="govuk-body">
      Alternative name 3
    </p>
  </div>
</div>
    </div>
</div>
{% endblock content %}
