{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{% import "formuli/field.html" as field %}
{% import "formuli/submit.html" as submit %}

{% block content %}
  <div>
      <h1 class="govuk-heading-xl">{{ formuli.current_field.label}}</h1>
  </div>
<form action="" method="post" novalidate>
        {{ formuli.hidden_tag() }}
        {{ field.render(formuli.current_field) }}
        {{ submit.render(formuli) }}
    </form>
{% endblock %}
