{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}

{% macro applications_table(applications, is_past_submission_deadline, showLanguageColumn) %}

	{% set ns = namespace(rows = []) %}
	{% for application in applications %}
		{% set status_class %}
		{% if is_past_submission_deadline %}
			{% if application.status == 'SUBMITTED' %}
				complete-tag
			{% elif application.status == 'NOT_SUBMITTED' %}
				complete-tag
			{% endif %}
		{% else %}
			{%  if application.status == 'SUBMITTED' %}
				complete-tag
			{%  elif application.status == 'NOT_STARTED' %}
				not-started-tag
			{%  elif application.status == 'IN_PROGRESS' %}
				in-progress-tag-new
			{%  elif application.status == 'READY_TO_SUBMIT' %}
				in-progress-tag-new
			{% endif %}
		{% endif %}
		{% endset %}

		{% if not application.status == 'SUBMITTED' and not is_past_submission_deadline %}
			{% set application_link = '<a class="govuk-link" href="{}">{}</a>'.format(url_for('application_routes.tasklist', application_id=application.id), gettext('Continue application')) %}
		{% endif %}

		{% if showLanguageColumn %}
			{% set row = ns.rows.append(
                [
                    {
                        'text': application.project_name if application.project_name else gettext('Untitled project')
                    },
                    {
                        'text':  govukTag({
                            'text': application.status|snake_case_to_human ,
                            'classes': status_class
                        })
                    },
                    {
                        'html': application.last_edited|datetime_format_short_month if application.last_edited != None
                    },
                    {
                        'html': application.reference
                    },
                    {
                        'text': application.language
                    },
                    {
                        'html': application_link
                    }
                ])%}
		{% else %}
			{% set row = ns.rows.append(
                [
                    {
                        'text': application.project_name if application.project_name else gettext('Untitled project')
                    },
                    {
                        'text':  govukTag({
                            'text': application.status|snake_case_to_human ,
                            'classes': status_class
                        })
                    },
                    {
                        'html': application.last_edited|datetime_format_short_month if application.last_edited != None
                    },
                    {
                        'html': application.reference
                    },
                    {
                        'html': application_link
                    }
                ])%}
		{% endif %}
	{% endfor %}

	{% if applications|length > 0 and not is_past_submission_deadline %}
		{% if showLanguageColumn %}
			{{
            govukTable({
            'head': [
                {
                    'text': gettext('Project name')
                },
                {
                    'text': gettext('Status')
                },
                {
                    'text': gettext('Last edited')
                },
                {
                    'text': gettext('Application Reference')
                },
                {
                    'text': gettext('Language')
                },
                {
                    'text': gettext('Action')
                }
            ],
            'rows': ns.rows
            })
        }}
		{% else %}
			{{
            govukTable({
            'head': [
                {
                    'text': gettext('Project name')
                },
                {
                    'text': gettext('Status')
                },
                {
                    'text': gettext('Last edited')
                },
                {
                    'text': gettext('Application Reference')
                },
                {
                    'text': gettext('Action')
                }
            ],
            'rows': ns.rows
            })
        }}
		{% endif %}
	{% endif %}
	{% if applications|length > 0 and is_past_submission_deadline %}
		{% if showLanguageColumn %}
			{{ govukTable({
                'head': [
                    {
                        'text': gettext('Project name')
                    },
                    {
                        'text': gettext('Status')
                    },
                    {
                        'text': gettext('Last edited')
                    },
                    {
                        'text': gettext('Application Reference')
                    },
                    {
                        'text': gettext('Language')
                    }
                ],
                'rows': ns.rows
                }) 
            }}
		{% else %}
			{{ govukTable({
                'head': [
                    {
                        'text': gettext('Project name')
                    },
                    {
                        'text': gettext('Status')
                    },
                    {
                        'text': gettext('Last edited')
                    },
                    {
                        'text': gettext('Application Reference')
                    }                    
                ],
                'rows': ns.rows
                }) 
            }}
		{% endif %}
	{% endif %}

{% endmacro %}
