{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% macro startApplicationButton(form, url, applications) %}
<form method="POST" action={{url}} >
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <input type="hidden" name="account_id" value="{{ account_id }}">
    <input type="hidden" name="fund_id" value="{{ fund_id }}">
    <input type="hidden" name="round_id" value="{{ round_id }}">

    {% if applications|length>0 %}
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    {% else %}
        <button class="govuk-button" data-module="govuk-button">
    {% endif %}
        {% trans %}Start new application{% endtrans %}
    </button>
</form>
{% endmacro %}
