{% macro tasklist_section(section_name, section_data, weighting, application_meta_data, application_status, index) %}
<li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">{{index}}. </span> {{section_name}}
    </h2>
    {% if weighting %}
    <p class="govuk-body">{% trans %}This section is worth{% endtrans %} <b>{{weighting}}</b>% {% trans %}of the assessment criteria{% endtrans %}.</p>
    {% endif %}

    <ul class="app-task-list__items">
      {% for form in section_data %}
      <li class="app-task-list__item task-list__new-design">
        <span class="app-task-list__task-name">
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{url_for("application_routes.continue_application", application_id=application_meta_data["application_id"], form_name=form["form_name"])}}">
            {{form["form_title"]}}
          </a>
        </span>

        <span class="app-task-list__tag" id="read-declaration-status">
        {% if form["state"]["status"] == application_meta_data["not_started_status"] %}
        <strong class="govuk-tag not-started-tag">
          {{ application_status("NOT_STARTED") }}
        {% elif form["state"]["status"] == application_meta_data["in_progress_status"] %}
        <strong class="govuk-tag in-progress-tag-new">
          {{ application_status("IN_PROGRESS") }}
        {% elif form["state"]["status"] == application_meta_data["completed_status"] %}
        {{ application_status("COMPLETED") }}
        <strong class="govuk-tag complete-tag">
        {% endif %}

        </strong>
        </span>
      </li>
      {% endfor %}
    </ul>
  </li>
{% endmacro %}
