{% macro tasklist_section(section, application_id, index) %}
<li>
    <h2 class="app-task-list__section">
      <span class="app-task-list__section-number">{{index}}. </span> {{section["section_name"]|kebab_case_to_human}}
    </h2>

    <ul class="app-task-list__items">

      {% for question_page in section["questions"]%}
      <li class="app-task-list__item">
        <span class="app-task-list__task-name">
          <a class="govuk-body govuk-link govuk-link--no-visited-state" href="{{url_for("routes.continue_application", application_id=application_id, section_name=section["section_name"], page_name=question_page["question"])}}">
            {{question_page["question"]}}
          </a>
        </span>
        <span class="app-task-list__tag" id="read-declaration-status">{{section["status"]|snake_case_to_human}}</span>
      </li>
      {% endfor %}
    </ul>
  </li>
{% endmacro %}
