{% macro tasklist_submit(application_id) %}
  <div class="assessment-alert govuk-!-margin-bottom-8">
    <h2 class="assessment-alert__heading govuk-heading-l govuk-!-margin-top-4">All sections complete</h2>

    <p class="govuk-body">You can submit your application when you are ready.</p>
    <p class="govuk-body">Once your application has been submitted, you cannot change your answers.</p>
    <button class="govuk-button" data-module="govuk-button">Submit your application</button>
  </div>
{% endmacro %}