{% extends "base.html" %}
{% set pageHeading %}Accessibility statement{% endset %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{pageHeading}}</h1>
            <p class="govuk-body">The Department of Levelling Up, Housing and Communities is committed to making our online services accessible to all users by meeting <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" class="govuk-link">The Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018</a>. We have commissioned <a href="https://digitalaccessibilitycentre.org" class="govuk-link">The Digital Accessibility Centre (DAC)</a> to carry out an accessibility audit of our services. This will include:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web content accessibility guidelines (WCAG) 2.1</a> AA level technical compliance audits</li>
                <li>extensive manual testing</li>
            </ul>
            <p class="govuk-body">The services booked in for testing are:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Community ownership fund online application</li>
                <li>Community ownership fund online assessment</li>
            </ul>
            <p class="govuk-body">Accessibility testing will be complete by December 2022.</p>
        </div>
    </div>
{% endblock %}
