{% extends "base.html" %} {% from "govuk_frontend_jinja/components/button/macro.html"
import govukButton -%}
{% set pageHeading %}Application complete{% endset %}
{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              {{pageHeading}}
            </h1>
            <div class="govuk-panel__body">
              Your reference number<br><strong>{{application_reference}}</strong>
            </div>
          </div>

          <p class="govuk-body">We have sent you a confirmation email and a copy of your answers to <strong>{{application_email}}</strong></p>

          <h2 class="govuk-heading-m">What happens next</h2>

          <p class="govuk-body">
            Your application to the {{ fund_name }} has been submitted.
          </p>

            <p class="govuk-body">We'll email you to let you know whether you have been successful.</p>

          <p class="govuk-body">
            <a href="https://forms.office.com/Pages/ResponsePage.aspx?id=EGg0v32c3kOociSi7zmVqFJBHpeOL2tNnpiwpdL2iElUREIySU9OWTU4R0RTNjhBUDE1Q1VYVFBEMi4u" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
          </p>

          <a href="{{url_for('account_routes.dashboard', fund_id=fund_id, round_id=round_id)}}" >
            <p class="govuk-body">Return to your applications page.</p>
          </a>
        </div>
      </div>
    </main>
  </div>

  {% endblock %}
