{% extends 'govuk_frontend_jinja/template.html' %}

{% set assetPath = url_for('static', filename='').rstrip('/') %}

{% block pageTitle %}{{ service_title }}{% endblock %}

{% block head %}
  {% include 'head.html' %}
{% endblock %}

{% block header %}
  {% include 'header.html' %}
{% endblock %}

{% block footer %}
  {% include 'footer.html' %}
{% endblock %}

{% block bodyEnd %}
  <!--[if gt IE 8]><!-->
  <script src="{{ url_for('static', filename='govuk-frontend-4.0.0.min.js') }}"> </script>
  <script>window.GOVUKFrontend.initAll()</script>
  <!--<![endif]-->
{% endblock %}
