{% extends "base.html" %}

{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}

{% block content %}
    <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{% trans %}Cookies{% endtrans %}</h1>
    <p class="govuk-body">
      {% trans %}Cookies are small files saved on your phone, tablet or computer when you visit a website.{% endtrans %}
    </p>
    <p class="govuk-body">{% trans %}We use cookies to make the{% endtrans %} {{ service_title }} {% trans %}service work.{% endtrans %}</p>

    <h2 class="govuk-heading-m" id="essential-cookies">{% trans %}Essential cookies{% endtrans %}</h2>
    <p class="govuk-body">{% trans %}Essential cookies keep your information secure while you use the{% endtrans %} {{ service_title }} {% trans %}service. We do not need to ask permission to use them.{% endtrans %}</p>
    <table class="govuk-table">
        <caption class="govuk-visually-hidden">{% trans %}Essential cookies{% endtrans %}</caption>
        <thead class="govuk-table__head">
            <tr>
                <th class="govuk-table__header">{% trans %}Name{% endtrans %}</th>
                <th class="govuk-table__header">{% trans %}Purpose{% endtrans %}</th>
                <th class="govuk-table__header">{% trans %}Expires{% endtrans %}</th>
            </tr>
        </thead>
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  session_cookie
                </td>
                <td width="50%" class="govuk-table__cell">
                  {% trans %}Used to keep you connected to your current session{% endtrans %}
                </td>
                <td class="govuk-table__cell">
                  {% trans %}When you close your browser{% endtrans %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  fsd_user_token
                </td>
                <td width="50%" class="govuk-table__cell">
                  {% trans %}Used to keep you signed in{% endtrans %}
                </td>
                <td class="govuk-table__cell">
                  {% trans %}24 hours{% endtrans %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  session
                </td>
                <td width="50%" class="govuk-table__cell">
                  {% trans %}Set to remember information you’ve entered into a form{% endtrans %}
                </td>
                <td class="govuk-table__cell">
                  {% trans %}When you close your browser{% endtrans %}
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  crumb
                </td>
                <td width="50%" class="govuk-table__cell">
                  {% trans %}Helps us to prevent cross site scripting attacks{% endtrans %}
                </td>
                <td class="govuk-table__cell">
                  {% trans %}When you close your browser{% endtrans %}
                </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                language
              </td>
              <td width="50%" class="govuk-table__cell">
                {% trans %}Used to remember the language you've chosen to display page information{% endtrans %}
              </td>
              <td class="govuk-table__cell">
                {% trans %}30 days{% endtrans %}
              </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
{% endblock %}
