{% extends "base.html" %}
{%- from 'govuk_frontend_jinja/components/inset-text/macro.html' import govukInsetText -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}

{% from "partials/file-formats.html" import file_formats %}
{% set pageHeading %}{% trans %}Full list of application questions{% endtrans %}{% endset %}
{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">{% trans %}{{fund_title}}{% endtrans %} {{round_title}}</span>
        <h1 class="govuk-heading-xl">{{pageHeading}}</h1>
        <div class="govuk-!-margin-bottom-8">
            <h2 class="govuk-heading-m ">{% trans %}Table of contents{% endtrans %}</h2>
            <ol class="govuk-list govuk-list--number">
                <li>
                    <a class="govuk-link" href="#{% trans %}before-you-start{% endtrans %}">{% trans %}Before you
                        start {% endtrans %}</a>
                </li>
                <li>
                    <a class="govuk-link" href="#{% trans %}about-org{% endtrans %}">{% trans %}About your
                        organisation{% endtrans %}</a>
                </li>
                <li>
                    <a class="govuk-link" href="#{% trans %}skills-experience{% endtrans %}">{% trans %}Your skills and
                        experience{% endtrans %}</a>
                </li>
                <li>
                    <a class="govuk-link" href="#{% trans %}your-project{% endtrans %}">{% trans %}Your project{%
                        endtrans %}</a>
                </li>
                <li>
                    <a class="govuk-link" href="#{% trans %}risks{% endtrans %}">{% trans %}Risks and deliverability {%
                        endtrans %}</a>
                </li>
                <li>
                    <a class="govuk-link" href="#{% trans %}value-for-money{% endtrans %}">{% trans %}Value for money{%
                        endtrans %}</a>
                </li>
                <li>
                    <a class="govuk-link" href="#{% trans %}declarations{% endtrans %}">{% trans %}Declarations{%
                        endtrans %}</a>
                </li>
            </ol>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <h2 class="govuk-heading-l " id="{% trans %}before-you-start{% endtrans %}">1. {% trans %}Before you start{%
            endtrans %}</h2>
        <h3 class="govuk-heading-m ">1.1. {% trans %}Name your application{% endtrans %}</h3>
        <p class="govuk-body">{% trans %}This is what your application will be called and will help you find it when you
            save and return. Choose a memorable name that describes your application. {% endtrans %}</p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l " id="about-org">2. {% trans %}About your organisation{% endtrans %}</h2>
        <h3 class="govuk-heading-m ">2.1. {% trans %}Organisation details {% endtrans %}</h3>
        <h4 class="govuk-heading-s  ">2.1.1. {% trans %}Organisation name{% endtrans %}</h4>
        <p class="govuk-body">{% trans %}This must match your registered legal organisation name{% endtrans %}</p>
        <h4 class="govuk-heading-s  ">{% trans %}Does your organisation use any other names?{% endtrans %}</h4>
        <p class="govuk-body">
            {{ pgettext("individual", "If 'Yes', go to") }} <strong>2.1.1.1.</strong>
        </p>
        <p class="govuk-body">
            {{ pgettext("individual", "If 'No', go to") }} <strong>2.1.2.</strong>
        </p>
        <h4 class="govuk-heading-s  ">2.1.1.1. {% trans %}Alternative names of your organisation{% endtrans %}</h4>

        <h4 class="govuk-heading-s  ">2.1.2. {% trans %}Tell us about your organisation's main activities{% endtrans %}
        </h4>
        <p class="govuk-body">{% trans %}Include any activities you undertake in order to achieve the organisation's
            purpose.{% endtrans %}</p>
        <p class="govuk-body">{% trans %}You must list at least one, and can include up to three (500 words for each
            activity).{% endtrans %}</p>

        <h4 class="govuk-heading-s  ">
            2.1.3 How is your organisation classified?
        </h4>
        <p class="govuk-body">
            {% trans %}Select one option{% endtrans %}
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                Upper or lower tier local authority
            </li>
            <li>
                Charity with a registered charity number
            </li>
            <li>
                Registered community interest company
            </li>
            <li>
                Social enterprise
            </li>
            <li>
                Community group
            </li>
            <li>
                {% trans %}Other{% endtrans %}
            </li>
        </ul>
        <p class="govuk-body">
            If 'Upper or lower tier local authority' 'Registered community interest company', 'Social enterprise
            company', 'Community group' go to <strong>2.1.3.1.</strong>
        </p>
        <p class="govuk-body">
            Charity with a registered charity number' got to <strong>2.1.3.2.</strong>
        </p>
        <p class="govuk-body">
            {% trans %}If 'Other', go to{% endtrans %} <strong>2.1.3.3.</strong>
        </p>

        <h4 class="govuk-heading-s">
            2.1.3.1. Company registration number
        </h4>
        <h4 class="govuk-heading-s">
            2.1.3.2. Charity number
        </h4>
        <h4 class="govuk-heading-s">
            2.1.3.3. How is your organisation classified? (other)
        </h4>

        <h4 class="govuk-heading-s">
            2.1.4. Registered organisation address
        </h4>
        <h4 class="govuk-heading-s ">
            2.1.5 Alternative organisation address (optional)
        </h4>
        <h4 class="govuk-heading-s ">
            2.1.6 Is your application a joint bid in partnership with other organisations?
        </h4>
        <p class="govuk-body">
            If 'Yes', go to <strong>2.1.6.1</strong>, <strong>2.1.6.2</strong> and <strong>2.1.6.3</strong>
        </p>

        <h4 class="govuk-heading-s ">
            2.1.6.1 Partner organisation details
        </h4>
        <p class="govuk-body">
            Partner organisation name
        </p>
        <p class="govuk-body">
            Partner organisation address
        </p>
        <p class="govuk-body">
            Website and social media links
        </p>

        <h4 class="govuk-heading-s ">
            2.1.6.2 Tell us about how you plan to work with the partner organisations
        </h4>
        <p class="govuk-body">
            Explain what their role is in the delivery of the project and how they’ll assist with delivery (500 words)
        </p>
        <h4 class="govuk-heading-s  ">
            2.1.6.3 Does an agreement currently exist between your organisation and the partnership organisations?
        </h4>
        <p class="govuk-body">
            We may ask for a copy of the agreement if your application is successful
        </p>
        <h4 class="govuk-heading-s">
            2.1.7 Website and social media
        </h4>
        <p class="govuk-body">
            For example, your company's Facebook, Instagram or Twitter accounts (if applicable)
        </p>


        <h3 class="govuk-heading-m">2.2 Applicant information</h3>
        <h4 class="govuk-heading-s">2.2.1 Lead contact details</h4>
        <ul class="govuk-list govuk-list--no-bullet">
            <li>Name of lead contact </li>

            <li>Alternative name (optional) </li>
            <li>Lead contact job title </li>
            <li>Lead contact email address </li>
            <li>Lead contact telephone number </li>
            <li>Is the lead contact the same person as the authorised signatory? </li>
            <li>An authorised signatory:
                <ul class="govuk-list govuk-list--bullet">

                    <li>is allowed to act on behalf of the organisation </li>

                    <li>will sign the grant funding agreement if your application is successful </li>
                </ul>
            </li>
            If 'No', go to <strong>2.2.1.1 </strong>
        </ul>

        <h4 class="govuk-heading-s ">
            2.2.1.1 Authorised signatory details
        </h4>

        <p class="govuk-body"></p>
        <ul class="govuk-list govuk-list--no-bullet">
            <li>Authorised signatory full name </li>
            <li>Alternative name (optional) </li>
            <li>Authorised signatory job title </li>
            <li>Authorised signatory email address </li>
            <li> Authorised signatory telephone number </li>
        </ul>
        </p>



        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        <h2 class="govuk-heading-l " id="skills-experience">3. Your skills and experience </h2>
        <h3 class="govuk-heading-m ">3.1 Have you delivered projects like this before?</h3>
        <p class="govuk-body">
            If 'Yes', go to <strong>3.1.1</strong>
        </p>
        <h4 class="govuk-heading-s  ">3.1.1 Tell us about how you have worked on similar previous projects </h4>
        <p class="govuk-body">
            Tell us about:
        <ul class="govuk-list govuk-list--bullet">
            <li>the scale of the project</li>

            <li>the value of the project</li>

            <li>where the project was based</li>
        </ul>
        </p>

        <p class="govuk-body">
            (1000 word limit)
        </p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


        <h2 class="govuk-heading-l " id="your-project">4. Your project</h2>
        <h3 class="govuk-heading-m ">4.1 Outputs and outcomes</h3>

        <h4 class="govuk-heading-s ">
            4.1.1. Give a brief summary of your project, including what you hope to achieve (500 words)
        </h4>
        <h4 class="govuk-heading-s ">
            4.1.2. How will you measure the outcome of your project? (500 words)
        </h4>
        <h4 class="govuk-heading-s ">
            4.1.3 What is the main focus of your project?
        </h4>
        <p class="govuk-body">
            Select all that apply
        <ul class="govuk-list govuk-list--bullet">
            <li>Trauma support </li>

            <li> Health and wellbeing </li>

            <li>Teaching English as a language </li>

            <li> Groups and befriending </li>

            <li>Supporting hosts and sponsors </li>

            <li> Links to culture </li>
        </ul>
        </p>
        <h4 class="govuk-heading-s  ">
            4.1.4 Which cohort will your project focus on?
        </h4>
        <p class="govuk-body">
            Select all that apply
        <ul class="govuk-list govuk-list--bullet">
            <li>Ukrainian schemes</li>

            <li>Hong Kong British National (Overseas) </li>

            <li>Afghan Citizens Resettlement Scheme </li>
        </ul>
        <ul class="govuk-list govuk-li--no-bullet">
            <li>If 'Ukrainian schemes', go to <strong>4.1.4.1</strong></li>

            <li>If 'Hong Kong British National', go to <strong>4.1.4.2</strong></li>

            <li>If 'Afghan Citizens Resettlement Scheme', go to <strong>4.1.4.3</strong></li>
        </ul>
        </p>

        <h4 class="govuk-heading-s  ">
            4.1.4.1 How many fund recipients from the Ukraine schemes do you expect your project to support with the
            funding?
        </h4>
        <p class="govuk-body">Fund recipients are people aged 21 and under </p>
        <h4 class="govuk-heading-s  ">
            4.1.4.2 How many fund recipients from the Hong Kong British National schemes do you expect your project to
            support with the funding?
        </h4>
        <p class="govuk-body">Fund recipients are people aged 21 and under </p>
        <h4 class="govuk-heading-s  ">
            4.1.4.3 How many fund recipients from the Afghan Citizens Resettlement Scheme do you expect your project to
            support with the funding?
        </h4>
        <p class="govuk-body">Fund recipients are people aged 21 and under </p>


        <h3 class="govuk-heading-m ">
            4.2 Existing work
        </h3>
        <h4 class="govuk-heading-s  ">
            4.2.1 How will you avoid duplicating existing work or projects in this area? (500 words)
        </h4>
        <h3 class="govuk-heading-m ">
            4.3 Project milestones
        </h3>
        <p class="govuk-body">

        <ul class="govuk-list govuk-li--no-bullet">
            <li>
                Tell us your project's milestones up to and including 2025.
            </li>
            <li>
                You should mention the key deliverables that will help you monitor your progress.
            </li>
            <li>
                For example, recruit member of staff, reach a percentage of the proposed recipients, deliver a
                particular activity. (200 words per milestone)
            </li>
            <li>
              <span><strong>When will you reach this milestone? </strong>For example, 3 2024</span></li>
        </ul>
        </p>

        <h3 class="govuk-heading-m ">
            4.4 Objectives and activities
        </h3>
        <p class="govuk-body">
        <ul class="govuk-list govuk-li--no-bullet">
            <li>Tell us about your project's objectives and how you plan to achieve these objectives. (You can add
                multiple objectives.) </li>
            <li>
                Activities that will help you achieve the objective (200 words per objective) </li>
        </ul>
        </p>
        <h3 class="govuk-heading-m ">
            4.5 Location of activities
        </h3>
        <h4 class="govuk-heading-s  ">
            4.5.1 Is the project taking place regionally?
        </h4>
        <p class="govuk-body">
        <ul class="govuk-list govuk-li--no-bullet">

            <li>If it is not taking place regionally, we assume it will take place nationally</li>

            <li>If 'Yes', go to <strong>4.5.1.1</strong></li>
        </ul>
        </p>

        <h4 class="govuk-heading-s  ">
            4.5.1.1 Which local authority areas will you work across?
        </h4>
        <h3 class="govuk-heading-m ">
            4.6 Working with fund beneficiaries
        </h3>
        <h4 class="govuk-heading-s  ">
            4.6.1 Tell us how you will identify and work with the intended fund beneficiaries (500 words)
        </h4>



        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l " id="risks">5. Risks and deliverability</h2>
        <h3 class="govuk-heading-m ">5.1 Risk and deliverability</h3>
        <h4 class="govuk-heading-s">5.1.1 Risks to the project </h4>
        <p class="govuk-body">Tell us about:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                any risks to the project </li>

            <li>the liklihood of them happening </li>

            <li>the impact they'll have on the project </li>

            <li>how you plan to mitigate them </li>
        </ul>

        <p class="govuk-body">(500 words per risk) </p>



        <p class="govuk-body">Likelihood </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                High </li>

            <li>Medium </li>

            <li>Low </li>
        </ul>

        <p class="govuk-body">Impact </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>
                High </li>

            <li>Medium </li>

            <li>Low </li>
        </ul>

        <p class="govuk-body">Proposed mitigation (500 words per risk) </p>
        <h4 class="govuk-heading-s">5.1.2 Who owns the overall risk register?</h4>
        <p class="govuk-body">Enter a full name</p>
        <h4 class="govuk-heading-s">5.1.3 Tell us about your organisation's governance structure</h4>
        <p class="govuk-body">Include members of your board, their roles and main responsibilities (500 words) </p>



        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l " id="value-for-money">6. Value for money</h2>
        <h3 class="govuk-heading-m ">6.1 Value for money</h3>
        <h4 class="govuk-heading-s">6.1.1 Funding requested</h4>
        <p class="govuk-body">
            This is the amount you are applying for from the Children and Young People’s Resettlement Fund. This is a
            revenue only fund.

        </p>


        <ul class="govuk-list govuk-list--bullet">
            <li>
                From 27 September 2023 to 31 March 2024
            </li>
            <li>
                From 1 April 2024 to 31 March 2025 </li>
        </ul>
        <h4 class="govuk-heading-s">
            6.1.2 Item of expenditure
        </h4>
        <p class="govuk-body">
            Tell us how you will use the funding. For example, staff, supplies and services, contribution to overheads,
            irrecoverable VAT.
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li>
                From 27 September 2023 to 31 March 2024</li>
            <li>
                From 1 April 2024 to 31 March 2025</li>
        </ul>
        <h4 class="govuk-heading-s">
            6.1.3 Will you use additional funding for your project?
        </h4>
        <p class="govuk-body">
            For example, money from reserves, trusts or foundations
        </p>
        <p class="govuk-body">
            If 'Yes', go to <strong>6.1.3.1 </strong>
        </p>
        <h4 class="govuk-heading-s">
            6.1.3.1 Additional funding </h4>
        <p class="govuk-body">
            Funding source
        </p>
        <p class="govuk-body">
            For example, money from reserves, trusts or foundations
        </p>
        <p class="govuk-body">
            When is the additional funding available from?
        </p>
        <p class="govuk-body">
            Which type of funding is it? (Capital or revenue)
        </p>



        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <h2 class="govuk-heading-l " id="declarations">7. Declarations </h2>
        <h3 class="govuk-heading-m ">7.1 Declarations </h3>
        <h4 class="govuk-heading-s">7.1.1 Agree to the final confirmations </h4>
        <ul class="govuk-list govuk-list--no-bullet">
            <li>
                Confirm your organisation adheres to the government code of conduct </li>
            <li>Confirm your organisation has a data handling process in place </li>
            <li>Confirm you have a bank account set up and associated with the organisation you are applying on behalf
                of </li>
            <li>Confirm that your organisation's safegaurding policies are up to date </li>
            <li>Confirm that the information you've provided in this application is accurate to the best of your
                knowledge on the date of submission </li>
        </ul>

    </div>
</div>
{% endblock %}
