{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{%- from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "partials/start-application-button.html" import startApplicationButton %}
{% from "partials/available_in_language.html" import available_in_language %}
{% from "partials/round_closed_warning.html" import round_closed_warning %}
{% from "partials/applications_table.html" import applications_table %}

{% extends "base.html" %}
{% set pageHeading %}
{% trans %}Your applications{% endtrans %}
{% endset %}
{% block content %}
    <h1 class="govuk-heading-xl">{{ pageHeading }}</h1>
    <p class="govuk-body">
        {% set application_count=display_data["total_applications_to_display"]%}
        {% trans %}You have started{% endtrans %}&nbsp;{% trans count=application_count%} {{application_count}} application{% pluralize %}{{application_count}} applications{% endtrans %}&nbsp;{% trans %}using this email address{% endtrans %}.
    </p>
{{available_in_language(inset=False, warn=True)}}


    {% for fund in display_data["funds"] %}
        {% for round in fund["rounds"] %}
            {% if not round["is_not_yet_open"] %}
                <span class="govuk-caption-m">{{ fund["fund_data"]["name"] }}</span>
                <h2 class="govuk-heading-l">
                    {{ round["round_details"]["title"] }}
                </h2>
                {% if round["is_past_submission_deadline"] %}
                    {{ round_closed_warning(fund["fund_data"]["name"], round["round_details"]["title"], round["round_details"]["deadline"]) }}
                {% endif %}
                    {{ applications_table(round["applications"], round["is_past_submission_deadline"], show_language_column) }}
                {% if not round["is_past_submission_deadline"] %}
                    {{ startApplicationButton(form, url_for('account_routes.new'), fund_id=fund["fund_data"]["id"], round_id=round["round_details"]["id"], existing_applications_count=round["applications"]|count) }}
                {% endif %}
            {% endif %}
        {% endfor %}

    {% endfor %}

{% endblock %}
