{%- from "govuk_frontend_jinja/components/tag/macro.html" import govukTag -%}
{%- from "govuk_frontend_jinja/components/table/macro.html" import govukTable -%}
{% extends "base.html" %}
{% block content %}
    {% set ns = namespace(rows = []) %}
    {% for application in applications %}
        {% set status_class %}
        {%  if application.status == 'COMPLETED' %}
            govuk-tag--green
        {% endif %}
    {% endset %}
    {% set row = ns.rows.append(
    [
    {
    'text': 'foo'
    },
    {
    'text':  govukTag({
    'text': application.status,
    'classes': status_class
    })
    },
    {
    'text': 'baz'
    },
    {
    'text': application.assessment_deadline|datetime_format
    },
    {
    'text': 'qua'
    }
    ]
    ) %}
{% endfor %}
{{ govukTable({
'head': [
{
'text': 'Project name'
},
{
'text': 'Status'
},
{
'text': 'Started on'
},
{
'text': 'Last edited'
},
{
'text': ''
}
],
'rows': ns.rows
}) }}
{% endblock %}
