{% extends "base.html" %}

{% block beforeContent %}
    <a href="{{ url_for("application_routes.tasklist", application_id=application_id) }}"
       class="govuk-back-link">Go back to application overview</a>
{% endblock %}

{% block content %}
    {% if form.errors.get('understand_eligibility_criteria') %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
        <div role="alert">
        <h2 class="govuk-error-summary__title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                <li>
                    <a href="#understand_eligibility_criteria">Select a score</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
    {% endif %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-l">Applicant feedback survey</span>
                </div>
                <div class="govuk-grid-column-one-third govuk-!-text-align-right">
                    <span class="govuk-body">3 of 4 questions</span>
                </div>
            </div>

            <form method="post">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                {{ form.application_id() }}

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                {{ form.understand_eligibility_criteria.label }}
                            </h1>
                        </legend>
                        <div class="govuk-radios {% if form.errors.get('understand_eligibility_criteria') %} govuk-form-group--error {% endif %}" data-module="govuk-radios" id="understand_eligibility_criteria">
                            {% if form.errors.get('understand_eligibility_criteria') %}
                            <p id="experience-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Select a score
                            </p>
                            {% endif %}
                            {% for choice_value, choice_label in form.understand_eligibility_criteria.choices %}
                                <div class="govuk-radios__item ">
                                    <input class="govuk-radios__input" id="{{ choice_value }}"
                                           name="{{ form.understand_eligibility_criteria.name }}" type="radio"
                                           value="{{ choice_value }}"
                                            {% if choice_value == form.understand_eligibility_criteria.data %}
                                           checked
                                            {% endif %}>
                                    <label class="govuk-label govuk-radios__label" for="{{ choice_value }}">
                                        {{ choice_label }}
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </fieldset>
                </div>

                <div>
                    <button class="govuk-button" data-module="govuk-button">Save and continue</button>
                </div>
            </form>

        </div>

    </div>
{% endblock %}
