{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter -%}

{{ govukFooter(
    {
        'meta': {
            'visuallyHiddenTitle': 'Items',
            'items': [
                {
                    'href': '/accessibility_statement',
                    'text': 'Accessibility statement'
                },
                {
                    'href': '#2',
                    'text': 'Item 2'
                },
                {
                    'href': '#3',
                    'text': 'Item 3'
                }
            ]
    }
    }) }}