{% from "govuk_frontend_jinja/components/footer/macro.html" import govukFooter -%}

{{ govukFooter(
    {
        'meta': {
            'visuallyHiddenTitle': 'Items',
            'items': [
                {
                    'href': '#1',
                    'text': 'item 1'
                },
                {
                    'href': 'https://www.gov.uk/government/publications/community-ownership-fund-privacy-notice/community-ownership-fund-privacy-notice',
                    'text': 'Privacy policy'
                },
                {
                    'href': '#3',
                    'text': 'Item 3'
                }
            ]
    }
    }) }}