{% extends "base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "partials/tasklist_section.html" import tasklist_section %}
{% from "partials/tasklist_submit.html" import tasklist_submit %}
{% from "partials/round_closed_warning.html" import round_closed_warning %}
{% block beforeContent %}
    <a href="{{ url_for('account_routes.dashboard') }}" class="govuk-back-link">Back to your applications</a>
{% endblock %}
{% set pageHeading %}{% trans %}Task List{% endtrans %}{% endset %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-l">{{ application_meta_data["fund_name"]}} {{ application_meta_data["round_name"] }}</span>
            <h1 class="govuk-heading-xl">{% trans %}Application for funding to save an asset in your community{% endtrans %}</h1>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            {% trans %}Help with filling out your application{% endtrans %}
          </span>
                </summary>
                <div class="govuk-details__text">
                    <h2 class="govuk-heading govuk-heading-s">{% trans %}What we'll ask you for{% endtrans %}</h2>
                    <p class="govuk-body">
                        {% trans %}You can preview the{% endtrans %} <a class="govuk-link" href="{{all_questions_url}}">{% trans %}full list of application questions{% endtrans %}</a>.
                    </p>
                    <p class="govuk-body">
                        {% trans %}We'll also ask you to upload a business plan to support the answers you've given us in the management case section.{% endtrans %}
                    </p>

                    <h2 class="govuk-heading govuk-heading-s">
                        {% trans %}Moving through the form{% endtrans %}
                    </h2>
                    <p class="govuk-body">
                        {% trans %}This form is split into sections based on how it will be assessed.{% endtrans %}
                    </p>
                    <p class="govuk-body">
                        {% trans %}You do not have to complete it in order, or all at once.{% endtrans %}
                    </p>
                    <p class="govuk-body">
                        {% trans %}When you have written something in every field in a section, the section will be marked as complete. You can still change your responses in sections that are marked as complete.{% endtrans %}
                    </p>

                    <h2 class="govuk-heading govuk-heading-s">
                        {% trans %}Saving progress and making changes{% endtrans %}
                    </h2>
                    <p class="govuk-body">
                        {% trans %}Your work will not save automatically. To make sure you do not lose anything, select Save and continue regularly, and always before you go back or close your internet browser window.{% endtrans %}
                    </p>
                    <p class="govuk-body">
                        {% trans %}If you need to edit or revisit any sections, use the browser back button.{% endtrans %}
                    </p>
                    <p class="govuk-body">
                        {% trans %}You can edit your responses as many times as you like before you submit.{% endtrans %}
                    </p>

                    <h2 class="govuk-heading govuk-heading-s">
                        {% trans %}Submitting your application{% endtrans %}
                    </h2>
                    <p class="govuk-body">
                        {% trans %}When you have completed all sections, you'll be able to submit your application.{% endtrans %}
                    </p>
                    <p class="govuk-body">
                        {% trans %}Once you have submitted your application, you'll not be able to edit, add or change any sections.{% endtrans %}
                    </p>

                    <h2 class="govuk-heading govuk-heading-s">
                        {% trans %}Get help{% endtrans %}
                    </h2>
                    <p class="govuk-body">
                        {% trans %}If you have any questions about the form or the fund, email us at{% endtrans %} <a
                            class="govuk-link" href="mailto:{{ contact_us_email_address }}">{{ contact_us_email_address }}</a>.
                    </p>
                    <p>{% trans %}Do not send any applications or attachments by email. We'll only accept applications through this service.{% endtrans %}</p>


                    <h2 class="govuk-heading govuk-heading-s">
                        {% trans %}How we'll use your information{% endtrans %}
                    </h2>
                    <p class="govuk-body">
                        {% trans %}Read how we'll use the information from your application in our{% endtrans %} <a class="govuk-link" href="https://www.gov.uk/government/publications/community-ownership-fund-privacy-notice/community-ownership-fund-privacy-notice">{% trans %}privacy notice{% endtrans %}</a>.
                    </p>

                </div>
            </details>
            {% if is_past_submission_deadline %}
                {{ round_closed_warning(fund_name, round_title, submission_deadline) }}
            {% endif %}
            <dl>
                <dt class="govuk-heading-s dl-inline">{% trans %}Submission deadline:{% endtrans %}</dt>
                <dd class="govuk-body govuk-!-margin-bottom-2"> {{ submission_deadline|datetime_format }}</dd>
                <dt class="govuk-heading-s dl-inline">{% trans %}Reference:{% endtrans %}</dt>
                <dd class="govuk-body govuk-!-margin-bottom-2"> {{ application["reference"] }}</dd>

            {% if application["status"] == application_meta_data["completed_status"] %}
            </dl>
                {{ tasklist_submit(application_id, application_meta_data, form, url_for('application_routes.submit_application')) }}
            {% elif not application["status"] == application_meta_data["submitted_status"] %}
                <dt class="govuk-heading-s dl-inline">
                    {% trans %}Status:{% endtrans %}
                </dt>
                {% set completed_count = application_meta_data["number_of_completed_forms"] %}
                {% set in_progress_count = application_meta_data["number_of_in_progress_forms"] %}
                {% set form_count = application_meta_data["number_of_forms"] %}
                {% if application["status"] == application_meta_data["not_started_status"] %}
                <dd class="govuk-tag not-started-tag govuk-!-margin-bottom-2">
                {% elif application["status"] == application_meta_data["in_progress_status"] %}
                <dd class="govuk-tag in-progress-tag-new govuk-!-margin-bottom-2">
                {% elif application["status"] == application_meta_data["completed_status"] %}
                <dd class="govuk-tag complete-tag govuk-!-margin-bottom-2">
                {% endif %}
                {{ application.status|snake_case_to_human }}
                </dd>
            </dl>
            <p class="govuk-body govuk-!-margin-bottom-7">
                {% if application_meta_data["number_of_completed_forms"] == 0 %}
                {% trans %}None of the sections have been completed.{% endtrans %}
                {% else %}
                You have completed
                    {{ application_meta_data["number_of_completed_forms"] }} of
                    {{ application_meta_data["number_of_forms"] }} sections.
                {% endif %}
            </p>
            {% else %}
            </dl>
            {% endif %}

            <ol class="app-task-list">
                {% for section in sections %}
                        {{ tasklist_section(section["section_title"], section["forms"], section["section_weighting"], application_meta_data,
        loop.index) }}
                {% endfor %}
            </ol>
        </div>
    </div>


{% endblock %}
