{% extends "base.html" %}
{% from "govuk_frontend_jinja/components/button/macro.html" import govukButton -%}
{% from "partials/tasklist_section.html" import tasklist_section %}
{% from "partials/tasklist_submit.html" import tasklist_submit %}
{% block beforeContent %}
<a href="{{url_for('routes.dashboard')}}" class="govuk-back-link">Back to your applications</a>
{% endblock %}
{% block pageTitle %}Task List - {{ service_title }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      {{application_meta_data["fund_name"]|kebab_case_to_human}} application
    </h1>

    {% if application["status"] == application_meta_data["completed_status"] %}
    {{tasklist_submit(application_id, application_meta_data, form, url_for('routes.submit_application'))}}
    {% elif not application["status"] == application_meta_data["submitted_status"] %}
    <h2 class="govuk-body-l govuk-!-font-weight-bold">
      Status:
      {% set completed_count = application_meta_data["number_of_completed_forms"] %}
      {% set in_progress_count = application_meta_data["number_of_in_progress_forms"] %}
      {% set form_count = application_meta_data["number_of_forms"] %}
      {% if application["status"] == application_meta_data["not_started_status"] %}
      <strong class="govuk-tag govuk-tag--grey">
      {% elif application["status"] == application_meta_data["in_progress_status"] %}
      <strong class="govuk-tag govuk-tag--blue">
      {% elif application["status"] == application_meta_data["completed_status"] %}
      <strong class="govuk-tag govuk-tag--green">
      {% endif %}
      {{application.status|snake_case_to_human}}
      </strong>
    </h2>
    <p class="govuk-body govuk-!-margin-bottom-7">
      {% if application_meta_data["number_of_completed_forms"] == 0 %}
      None of the forms have been completed.
      {% else %}
      You have completed
      {{application_meta_data["number_of_completed_forms"]}} of
      {{application_meta_data["number_of_forms"]}} forms.
      {% endif %}
    </p>
    {% endif %}

    <ol class="app-task-list">
      {% for section_name, section_data in application.sections.items() %}
        {{tasklist_section(section_name, section_data["forms_within_section"], section_data["section_weighting"], application_meta_data,
      loop.index)}}
      {% endfor %}
    </ol>
  </div>
</div>


{% endblock %}
