name: Deploy to Gov PaaS

on:
  workflow_dispatch:
    inputs:
        branch:
          description: The branch to create a build from
          required: true
          default: main
        space:
          description: The space to deploy to
          required: true
          default: sandbox
        environment:
          description: The environment to deploy with
          required: true
          default: Dev
  push:
    # branches:
    # - master
    # - FS-389
    # - FS-390

    paths-ignore:
      - '**/README.md'

env:
  REGISTRY: ghcr.io
  FORMS_SERVICE_PREVIEW_HOST: ${{ secrets.FORMS_SERVICE_HOST}}
  FORMS_SERVICE_PUBLIC_HOST: ${{ secrets.FORMS_SERVICE_HOST}}
  FORMS_SERVICE_HOST: ${{ secrets.FORMS_SERVICE_HOST}}


jobs:
  build-runner:
    environment: ${{ github.event.inputs.environment }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      DOCKER_IMAGE: communitiesuk/digital-form-builder/runner
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch }}

      - name: Set environment variables
        run: |
          echo "DOCKER_IMAGE_TAG=${{ env.REGISTRY }}/${{ env.DOCKER_IMAGE }}:$GITHUB_SHA" >> $GITHUB_ENV

      - name: list environment
        run: |
          echo $GITHUB_ENV

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: |
            ${{ env.DOCKER_IMAGE_TAG }}
          push: true
          file: Dockerfile
          build-args: |
            COMMIT_SHA=$GITHUB_SHA

      - name: Install cloudfoundary
        shell: bash
        id: install-cf-cli
        run: |
          wget -q -O - https://packages.cloudfoundry.org/debian/cli.cloudfoundry.org.key | sudo apt-key add -
          echo "deb https://packages.cloudfoundry.org/debian stable main" | sudo tee /etc/apt/sources.list.d/cloudfoundry-cli.list
          sudo apt-get update
          sudo apt-get install cf8-cli

      - name: Deploy to Gov.uk PaaS
        id: deploy-to-paas
        shell: bash
        run: |
          cf api ${{ secrets.CF_API }}
          cf auth "${{ secrets.CF_USER }}" "${{ secrets.CF_PASSWORD }}"
          cf target -o dluhc-funding-service-design -s sandbox
          CF_DOCKER_PASSWORD=${{ secrets.GHCR_PAT }} cf push funding-service-design-form-runner -f ./manifest.yml \
            --docker-image ${{ env.DOCKER_IMAGE_TAG }} \
            --docker-username ${{ github.actor }}

  testing:
    needs: build-runner
    runs-on: ubuntu-latest
    environment: Dev
    env:
      DOCKER_IMAGE: communitiesuk/digital-form-builder/runner
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.10.1
      - name: install dependencies
        run: python -m pip install --upgrade pip && python -m pip install -r requirements.txt
      - name: build static assets
        run: python build.py
      - name: run unit tests
        run: python -m pip install pytest && python -m pytest .
      - name: Install Chromium
        uses: browser-actions/setup-chrome@latest
      - name: setup Chromedriver
        uses: nanasess/setup-chromedriver@v1
        with:
        # Optional: do not specify to match Chrome's version
          chromedriver-version: '88.0.4324.96'
      - name: Run Accessability tests
        run: pytest --driver Chrome --driver-path .venv/lib/python3.10/site-packages/chromedriver_py/chromedriver_linux64
      - name: 'Upload Accessibility Testing reports'
        uses: actions/upload-artifact@v2
        with:
          name: accessibility-test-report
          path: /home/runner/work/funding-service-design-frontend/funding-service-design-frontend/axe_reports/*.html
          retention-days: 5
      - name: Zap Baseline Scan
        uses: zaproxy/action-baseline@v0.6.1
        with:
          target: ${{ secrets.FORMS_SERVICE_HOST }}
          allow_issue_writing: False

      - name: ZAP Full Scan
        uses: zaproxy/action-full-scan@v0.3.0
        with:
          target: ${{ secrets.FORMS_SERVICE_HOST }}
          allow_issue_writing: False
          